ion-row {
  justify-content: center;

  ion-col {
    padding-left: 0;
    padding-right: 0;
  }
}

.numbers {
  ion-col {
    display: flex;
    justify-content: center;

    div {
      background: #cecece85;
      width: 75%;
      height: 50px;
      font-size: x-large;
      font-weight: 500;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
