<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
      <ion-button [strong]="true" (click)="save()">Enregistrer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-text-center">
    <!-- AUGMENTER -->
    <ion-row>
      <ion-col [size]="colSize" *ngFor="let _ of [].constructor(maxNbOfDigits); index as i">
        <ion-button (click)="increaseDigit(i)">
          <ion-icon slot="icon-only" name="chevron-up"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- NOMBRE -->
    <ion-row class="numbers">
      <ion-col [size]="colSize" *ngFor="let _ of [].constructor(maxNbOfDigits); index as i">
        <div>{{ digits[i] }}</div>
      </ion-col>
    </ion-row>

    <!-- BAISSER -->
    <ion-row>
      <ion-col [size]="colSize" *ngFor="let _ of [].constructor(maxNbOfDigits); index as i">
        <ion-button (click)="decreaseDigit(i)">
          <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
