ion-row {
  justify-content: center;

  ion-col {
    padding-left: 0;
    padding-right: 0;
  }
}

.numbers {
  ion-col {
    display: flex;
    justify-content: center;

    ion-label {
      background: #cecece85;
      width: 55px;
      height: 50px;
      font-size: x-large;
      font-weight: 500;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

ion-content {
  --background: none !important;

  > ion-grid {
    background: none !important;
  }
}
