<ion-row>
  <ion-col
    size="6"
    sizeMd="4"
    sizeLg="3"
    *ngFor="let c of collectionCategories | keyvalue"
  >
    <ion-card
      class="ion-text-center ion-text-uppercase"
      button
      (click)="openCategorie(c.value)"
      (contextmenu)="openCategorieContextMenu($event, c.key, c.value)"
    >
      <ion-card-header>
        <ion-card-title>
          <p>
            <ion-icon
              slot="start"
              [name]="c.value.ionIcon"
              size="large"
            ></ion-icon>
          </p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{ c.value.name }}
        </p>
        <p>
          {{ c.value.listeIdProduits.length }}
          {{ c.value.listeIdProduits.length > 1 ? "articles" : "article" }}
          dispos
        </p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col
    *ngIf="Object.keys(collectionCategories).length < 1"
    class="ion-padding ion-text-justify"
  >
    <p>
      Il n'y a pour le moment aucune catégorie disponible, mais vous pouvez en
      créer une si vous le souhaitez.
    </p>
    <div class="ion-text-center">
      <ion-button size="large" [routerLink]="['ajout-categorie']">
        <ion-icon slot="start" name="add"></ion-icon>
        Nouveau
      </ion-button>
    </div>
  </ion-col>
</ion-row>

<ion-card id="custom-menu" class="custom-menu" #customMenu>
  <ion-list>
    <ion-item
      *ngFor="let fn of listeFonctionsContextMenu"
      (click)="fn.action()"
      [style.fontWeight]="fn.bold ? 600 : 400"
    >
      <ion-icon
        slot="start"
        [name]="fn.icon"
        [style.marginRight.px]="12"
        [color]="fn.iconColor"
      ></ion-icon>
      <ion-label>{{ fn.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
