<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-card button (click)="goToSearch()">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="search"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content> Rechercher </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card button>
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="apps"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content> Voir catégories </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card button (click)="goToAddProduct()">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="add"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Ajouter un nouvel article
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
