ion-card {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

ion-card-content {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  height: 100%;
}
