<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ selectedCategorie.categorie.name }}</ion-title>
    <ion-buttons *ngIf="form" slot="end">
      <ion-button (click)="onValid()" [disabled]="!form.nameInput.valid">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <detail-categorie-form></detail-categorie-form>

  <ion-fab *ngIf="form" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onValid()" [disabled]="!form.nameInput.valid">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
