<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.showSearchBar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- FORMULAIRE -->
  <search-form
    (results)="receiveResults($event)"
    (shutter)="showSearchBar = !showSearchBar"
    [class.show]="showSearchBar"
  ></search-form>
  <!-- RÉSULTATS -->
  <search-results
    *ngIf="showResults"
    [results]="transmissionData"
  ></search-results>

  <ion-fab *ngIf="showResults" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="this.showSearchBar = true"
        ><ion-icon name="search"></ion-icon
      ></ion-fab-button>
      <ion-fab-button (click)="scrollToTop()"
        ><ion-icon name="chevron-up"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
