<ion-grid fixed>
  <!-- SEGMENTS par code/par nom -->
  <ion-segment
    value="code"
    (ionChange)="segmentChanged($event)"
    class="ion-padding"
  >
    <ion-segment-button value="code">
      <ion-label>Par nom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="name">
      <ion-label>Par code</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row class="ion-align-items-center ion-padding">
    <!-- Champ de recherche -->
    <ion-col>
      <ion-item>
        <ion-label position="floating">{{
          currentSegment === "code" ? "Code produit" : "Nom du produit"
        }}</ion-label>
        <ion-input
          type="text"
          [formControl]="searchField"
          (keyup.enter)="search()"
        ></ion-input>
      </ion-item>
    </ion-col>

    <!-- Bouton rechercher -->
    <ion-col size="12" sizeSm="2" sizeLg="1">
      <ng-container *ngIf="isSearchIconVisible">
        <ion-button
          (click)="search()"
          [disabled]="!searchField.valid"
          expand="block"
          size="large"
        >
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ng-container>
      <ng-container *ngIf="!isSearchIconVisible">
        <ion-button
          (click)="search()"
          [disabled]="!searchField.valid"
          expand="block"
        >
          Rechercher
        </ion-button>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
