<form>
  <ion-grid fixed>
    <!-- Choix catégorie -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Choisir une catégorie" interface="popover">
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- BOUTONS -->
    <ion-row>
      <ion-col>
        <ion-button expand="full">
          Rechercher
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">
          Effacer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
