<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: none !important">
  <ion-grid style="background: none" fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Rechercher une icône"
            (ionInput)="search($event)"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="3" *ngFor="let i of searchList">
        <ion-button
          style="opacity: 0.65"
          size="large"
          fill="clear"
          (click)="save(i)"
        >
          <ion-icon color="dark" slot="icon-only" [name]="i"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
